@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import local fonts */
@font-face {
  font-family: "ClashDisplay";
  src: url("./assets/fonts/ClashDisplay-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("./assets/fonts/Satoshi-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Apply global styles */
body {
  @apply bg-creme font-satoshi text-charcoal;
}
